Repository tutur3u/platform, pull requests merged in 2025-05, with the labels that each got.

#2626 Add new landing page, FAQ, about, guide, contact pages
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/src/app/[locale]/(marketing)/about/page.tsx
  apps/upskii/src/app/[locale]/(marketing)/contact/page.tsx
  apps/upskii/src/app/[locale]/(marketing)/faq/page.tsx
  apps/upskii/src/app/[locale]/(marketing)/guide/page.tsx
  apps/upskii/src/app/[locale]/(marketing)/navigation-menu.tsx
  apps/upskii/src/app/[locale]/(marketing)/page.tsx
  apps/upskii/src/app/[locale]/(marketing)/shared/navigation-config.tsx
  apps/upskii/src/app/[locale]/providers.tsx
  apps/upskii/src/constants/common.ts
Labels: upskii

#2641 Add basic quiz management
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/columns.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/form.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/linked-modules/columns.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/linked-modules/form.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/linked-modules/linker.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/linked-modules/mock/modules-mock-data.ts
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/linked-modules/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/linked-modules/row-actions.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/mock/quiz-sets-mock-data.ts
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/row-actions.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quizzes/columns.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quizzes/form.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quizzes/mock/quizzes-mock-data.ts
  apps/upskii/src/app/[locale]/(dashboard)/education/quizzes/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quizzes/row-actions.tsx
  apps/upskii/src/app/[locale]/(dashboard)/users/filters.tsx
  pnpm-lock.yaml
Labels: upskii

#2667 Add backend integration for quizzes
  apps/upskii/src/app/[locale]/(dashboard)/education/quiz-sets/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/education/quizzes/page.tsx
  apps/upskii/src/app/api/v1/ai/objects/quizzes/explanation/route.ts
  apps/upskii/src/app/api/v1/ai/objects/quizzes/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/[setId]/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quizzes/[quizId]/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quizzes/route.ts
Labels: upskii

#2663 Add calendar timezone settings
  packages/ui/src/components/ui/legacy/calendar/AllDayEventBar.tsx
  packages/ui/src/components/ui/legacy/calendar/CalendarCell.tsx
  packages/ui/src/components/ui/legacy/calendar/CalendarEventMatrix.tsx
  packages/ui/src/components/ui/legacy/calendar/CalendarSettingsDialog.tsx
  packages/ui/src/components/ui/legacy/calendar/CalendarViewWithTrail.tsx
  packages/ui/src/components/ui/legacy/calendar/DayTitle.tsx
  packages/ui/src/components/ui/legacy/calendar/EventCard.tsx
  packages/ui/src/components/ui/legacy/calendar/MonthCalendar.tsx
  packages/ui/src/components/ui/legacy/calendar/TimeIndicatorLine.tsx
  packages/ui/src/components/ui/legacy/calendar/TimeIndicatorText.tsx
  packages/ui/src/components/ui/legacy/calendar/TimeTrail.tsx
  packages/ui/src/components/ui/legacy/calendar/UnifiedEventModal.tsx
  packages/ui/src/components/ui/legacy/calendar/WeekdayBar.tsx
Labels: calendar

#2698 Allow users to provide their own API key
  apps/calendar/package.json
  apps/external/package.json
  apps/famigo/package.json
  apps/nova/package.json
  apps/rewise/package.json
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/package.json
  apps/upskii/src/app/[locale]/(dashboard)/ai-chat/chat.tsx
  apps/upskii/src/app/[locale]/(dashboard)/ai-chat/helper.ts
  apps/upskii/src/app/[locale]/(dashboard)/ai-chat/page.tsx
  apps/upskii/src/components/chat-list.tsx
  apps/upskii/src/components/chat-message-actions.tsx
  apps/upskii/src/components/chat-message.tsx
  apps/upskii/src/components/chat-model-selector.tsx
  apps/upskii/src/components/chat-panel.tsx
  apps/upskii/src/components/chat-permissions.tsx
  apps/upskii/src/components/chat-scroll-anchor.tsx
  apps/upskii/src/components/empty-screen.tsx
  apps/upskii/src/components/form-apikey.tsx
  apps/upskii/src/components/online-users.tsx
  apps/upskii/src/components/prompt-form.tsx
  apps/upskii/src/constants/common.ts
  apps/web/package.json
  package.json
  packages/ai/package.json
  packages/auth/package.json
  packages/eslint-config/package.json
  packages/supabase/package.json
  packages/transactional/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: upskii

#2713 Toggle API key visibility
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/src/components/form-apikey.tsx
Labels: upskii

#2718 Certificate Demo
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/certificate/[certID]/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/certificate/certificate-page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/certificate/mock-data.ts
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/layout.tsx
  apps/upskii/src/app/api/v1/certificates/[certId]/generate/route.ts
  apps/upskii/src/app/api/v1/certificates/[certId]/route.ts
Labels: upskii

#2750 Store user-provided API Key in cookie
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/ai-chat/chat.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/ai-chat/page.tsx
  apps/upskii/src/app/api/ai/chat/google/key/route.ts
  apps/upskii/src/components/chat-panel.tsx
  apps/upskii/src/components/form-apikey.tsx
  apps/upskii/src/components/prompt-form.tsx
Labels: upskii

#2755 Delete chat from sidebar
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/layout.tsx
Labels: upskii

#2752 Fix for PDF generation
  apps/rewise/package.json
  apps/upskii/package.json
  apps/upskii/public/media/logos/watermark.png
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/certificate/certificate-page.tsx
  apps/upskii/src/app/api/v1/certificates/[certId]/generate/certificate-document.tsx
  apps/upskii/src/app/api/v1/certificates/[certId]/generate/route.ts
  apps/upskii/src/app/api/v1/certificates/[certId]/generate/route.tsx
  apps/upskii/src/app/api/v1/certificates/[certId]/generate/types.ts
  apps/upskii/src/app/api/v1/problems/[problemId]/custom-testcase/route.ts
  apps/upskii/src/app/api/v1/problems/[problemId]/prompt/route.ts
  apps/upskii/src/app/api/v1/problems/[problemId]/route.ts
  apps/upskii/src/app/api/v1/problems/route.ts
  apps/web/package.json
  package.json
  packages/transactional/package.json
  pnpm-lock.yaml
Labels: upskii

#2763 Fix for auth flow
  apps/upskii/src/app/[locale]/(dashboard)/onboarding/workspace-invites.tsx
  apps/upskii/src/app/[locale]/(marketing)/navbar-actions.tsx
  apps/upskii/src/app/[locale]/(marketing)/user-nav-client.tsx
  apps/upskii/src/app/[locale]/(marketing)/user-nav.tsx
Labels: upskii

#2765 Add support for Vietnamese Certificates
  apps/upskii/public/fonts/Roboto-Bold.ttf
  apps/upskii/public/fonts/Roboto-Light.ttf
  apps/upskii/public/fonts/Roboto-Medium.ttf
  apps/upskii/public/fonts/Roboto-Regular.ttf
  apps/upskii/src/app/api/v1/certificates/[certId]/generate/certificate-document.tsx
  apps/upskii/src/middleware.ts
Labels: upskii

#2776 Change API Key Form Behaviour
  apps/upskii/src/components/form-apikey.tsx
Labels: upskii

#2778 Add 'back to home' link to onboarding page + Custom 404 page
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/src/app/[locale]/(dashboard)/onboarding/page.tsx
  apps/upskii/src/app/[locale]/[...not-found]/page.tsx
  apps/upskii/src/app/[locale]/not-found.tsx
Labels: upskii

#2866 Add event snapping & auto-scroll with drag preview
  packages/ui/src/components/ui/legacy/calendar/calendar-cell.tsx
  packages/ui/src/components/ui/legacy/calendar/event-card.tsx
  packages/ui/src/components/ui/legacy/calendar/event-form-components.tsx
  packages/ui/src/components/ui/legacy/calendar/event-modal.tsx
  packages/ui/src/components/ui/legacy/calendar/settings/category-color-settings.tsx
  packages/ui/src/globals.css
Labels: enhancement, calendar

#2806 Add invitation action toast
  apps/upskii/src/app/[locale]/providers.tsx
  apps/upskii/src/components/notification-action-list.tsx
  apps/upskii/src/components/notification-action.tsx
Labels: upskii

#2894 Add tiptap editor
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/package.json
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/content/content-editor.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/content/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/section.tsx
  apps/upskii/src/components/text-editor/editor.tsx
  apps/upskii/src/components/text-editor/tool-bar.tsx
  pnpm-lock.yaml
Labels: upskii

#2934 Fix translations for row actions (courses, modules)
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/row-actions.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/row-actions.tsx
Labels: upskii
