Repository tutur3u/platform, pull requests merged in 2025-07, with the labels that each got.

#3207 Fix month view grid and highlighted day
  packages/ui/src/components/ui/custom/calendar/day-cell.tsx
  packages/ui/src/components/ui/legacy/calendar/calendar-content.tsx
  packages/ui/src/components/ui/legacy/calendar/color-highlights.ts
  packages/ui/src/components/ui/legacy/calendar/month-calendar.tsx
  packages/ui/src/hooks/use-popover-manager.tsx
Labels: calendar

#3212 Fix all day bug
  packages/types/src/primitives/calendar-event.ts
  packages/ui/src/components/ui/legacy/calendar/event-modal.tsx
  packages/ui/src/hooks/calendar-utils.ts
  packages/ui/src/hooks/use-calendar-sync.tsx
  packages/ui/src/hooks/use-calendar.tsx
Labels: calendar

#3219 Integrate task into calendar
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/add-event-button.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/add-event-dialog.tsx
Labels: calendar

#3233 Add task fetcher for calendar sidebar
  apps/db/supabase/migrations/20250708033506_adjust_priority_enum.sql
  apps/external/tsconfig.json
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/tasks-sidebar-content.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/page.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/types.ts
  packages/types/src/supabase.ts
Labels: calendar

#3249 Add all-day drag and dropping mechanic
  packages/ui/src/components/ui/legacy/calendar/all-day-event-bar.tsx
  packages/ui/src/hooks/use-calendar-sync.tsx
Labels: calendar

#3391 Add tentative feature to TuMeet
  apps/db/supabase/migrations/20250731020037_add_tentative_for_timeblocks.sql
  apps/nova/src/utils/timeblock-helper.ts
  apps/rewise/src/utils/timeblock-helper.ts
  apps/tumeet/src/utils/timeblock-helper.ts
  apps/web/messages/en.json
  apps/web/messages/vi.json
  apps/web/src/__tests__/mail-display-sanitization.test.tsx
  apps/web/src/__tests__/timeblock-helper.test.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/availability-planner.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/date-planner.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/day-planner.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/day-planners.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/day-time.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/plan-details-client.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/plan-login.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/preview-day-time.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/selectable-day-time.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/time-blocking-provider.tsx
  apps/web/src/app/[locale]/(marketing)/meet-together/plans/[planId]/unified-availability.tsx
  apps/web/src/utils/timeblock-helper.ts
  packages/types/src/primitives/Timeblock.ts
  packages/types/src/supabase.ts
Labels: platform, meet-together, calendar

#3398 Add Sidebar Accordion view to TuMeet
  packages/types/src/primitives/MeetTogetherPlan.ts
  packages/types/src/primitives/Poll.ts
  packages/ui/src/components/ui/legacy/polls/poll-display.tsx
  packages/ui/src/components/ui/legacy/polls/where-tu-meet.tsx
  packages/ui/src/components/ui/legacy/tumeet/multiple-choice-vote.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/page.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/plan-details-client.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/plan-details-polls.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/plan-user-filter-accordion.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/sidebar-display.tsx
Labels: platform, meet-together
