Repository tutur3u/platform, pull requests merged in 2025-06, with the labels that each got.

#2933 Add course module completion status
  apps/db/supabase/migrations/20250603032529_add_course_module_completion_status.sql
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/columns.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/layout.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/page.tsx
  packages/types/src/supabase.ts
Labels: upskii

#3044 Remove Whitelisting from AI Chat
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/ai-chat/chat.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/ai-chat/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/c/[chatId]/page.tsx
  apps/upskii/src/app/api/ai/chat/google/key/route.ts
  apps/upskii/src/components/layout/structure.tsx
  packages/ai/src/chat/google/new/route.ts
  packages/ai/src/chat/google/route.ts
  packages/ai/src/chat/google/summary/route.ts
Labels: upskii

#3043 Implement View Toggle for Courses
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/card-view.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/course-pagination.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/view-toggle.tsx
Labels: upskii

#3056 Filter Certificates by Workspace
  apps/upskii/src/lib/certificate-helper.ts
Labels: upskii

#3047 Add new quiz set attributes
  apps/db/supabase/migrations/20250609092649_add_quiz_attempts.sql
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quizzes/client-ai.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quizzes/client-quizzes.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quizzes/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/layout.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/result/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/statistics/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/quiz-status-sidebar.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/sections/before-take-quiz-section.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/sections/past-due-section.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/sections/show-result-summary-section.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/taking-quiz-client.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/time-elapsed-status.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/mock/quiz-sets-mock-data.ts
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quizzes/mock/quizzes-mock-data.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/[setId]/results/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/[setId]/submit/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/[setId]/take/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/route.ts
  packages/types/src/supabase.ts
Labels: upskii

#3073 Add Dynamic Certificate Templates
  apps/db/supabase/migrations/20250612040712_add_certificate_templates.sql
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/public/media/certificate-previews/en/elegant-preview.png
  apps/upskii/public/media/certificate-previews/en/modern-preview.png
  apps/upskii/public/media/certificate-previews/en/original-preview.png
  apps/upskii/public/media/certificate-previews/vi/elegant-preview.png
  apps/upskii/public/media/certificate-previews/vi/modern-preview.png
  apps/upskii/public/media/certificate-previews/vi/original-preview.png
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/certificates/[certificateId]/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/certificates/certificate-page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/certificates/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/columns.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/page.tsx
  apps/upskii/src/app/api/v1/certificates/[certId]/generate/route.tsx
  apps/upskii/src/app/api/v1/certificates/[certId]/generate/types.ts
  apps/upskii/src/app/api/v1/certificates/templates/elegant-certificate.tsx
  apps/upskii/src/app/api/v1/certificates/templates/modern-certificate.tsx
  apps/upskii/src/app/api/v1/certificates/templates/og-certificate.tsx
  apps/upskii/src/lib/certificate-helper.ts
  apps/upskii/src/lib/font-register-pdf.ts
  apps/web/messages/en.json
  apps/web/messages/vi.json
  packages/types/src/db.ts
  packages/types/src/supabase.ts
  packages/ui/package.json
  packages/ui/src/components/ui/custom/education/certificates/certificate-viewer.tsx
  packages/ui/src/components/ui/custom/education/certificates/download-button-pdf.tsx
  packages/ui/src/components/ui/custom/education/certificates/types.ts
  packages/ui/src/components/ui/custom/education/courses/course-form.tsx
  packages/ui/src/components/ui/custom/education/courses/course-row-actions.tsx
  packages/ui/src/components/ui/custom/education/modules/resources/pdf-viewer.tsx
Labels: upskii

#3097 Improve Time Tracker UX and layout
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/components/timer-controls.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/time-tracker-content.tsx
  apps/web/src/app/[locale]/layout.tsx
  bun.lock
  packages/ui/src/components/ui/custom/structure.tsx
Labels: calendar

#3103 Add Quiz Taking UI
  apps/db/supabase/migrations/20250618174721_enhance_quiz_taking.sql
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/result/display-results/show-attempt-detail-section.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/result/display-results/show-result-summary-section.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/result/display-summary-attempts/attempt-summary-view.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/result/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/result/quiz-result-client.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/take/before-taking-quiz-whole.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/take/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/take/quiz-status-sidebar.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/take/taking-quiz-client.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/take/time-elapsed-status.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quizzes/client-ai.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quizzes/client-quizzes.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quizzes/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/result/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/quiz-status-sidebar.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/sections/before-take-quiz-section.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/sections/past-due-section.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/sections/show-result-summary-section.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/take/taking-quiz-client.tsx
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/[setId]/attempts/[attemptId]/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/[setId]/results/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/[setId]/submit/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/[setId]/take/route.ts
  apps/web/src/app/api/[wsId]/[productId]/cancel/route.ts
  apps/web/src/app/api/[wsId]/[productId]/payment/route.ts
  packages/types/src/supabase.ts
Labels: upskii

#3140 Improvement of Task filtering status
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/[boardId]/task.tsx
  apps/web/src/app/api/v1/workspaces/[wsId]/tasks/route.ts
  apps/web/src/lib/task-helper.ts
  apps/web/src/lib/time-tracking-helper.ts
  packages/types/src/primitives/TaskBoard.ts
Labels: calendar

#3137 Implement whiteboard management
  apps/db/supabase/migrations/20250620034755_create_whiteboards.sql
  apps/web/messages/en.json
  apps/web/messages/vi.json
  apps/web/src/app/[locale]/(dashboard)/[wsId]/whiteboards/[boardId]/custom-tldraw.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/whiteboards/[boardId]/loading.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/whiteboards/[boardId]/page.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/whiteboards/[boardId]/toolbar.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/whiteboards/client.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/whiteboards/createWhiteboardDialog.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/whiteboards/editWhiteboardDialog.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/whiteboards/page.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/whiteboards/whiteboardForm.tsx
  packages/types/src/supabase.ts
Labels: platform

#3135 Log Background Sync
  apps/db/supabase/migrations/20250620134409_add_workspace_calendar_sync_log.sql
  packages/trigger/google-calendar-sync.ts
  packages/types/src/supabase.ts
Labels: calendar

#3151 Improve sheduling algorithm
  apps/calendar/src/app/[locale]/(root)/scheduler/components/ScheduleDisplay.tsx
  apps/calendar/src/app/[locale]/(root)/scheduler/components/TaskList.tsx
  apps/calendar/src/app/[locale]/(root)/scheduler/components/TaskModal.tsx
  apps/calendar/src/app/[locale]/(root)/scheduler/page.tsx
  packages/ai/src/scheduling/algorithm.test.ts
  packages/ai/src/scheduling/algorithm.ts
  packages/ai/src/scheduling/default.ts
  packages/ai/src/scheduling/templates.ts
  packages/ai/src/scheduling/types.ts
Labels: AI, calendar

#3153 Update quiz set and quiz edit form UI
  apps/upskii/messages/en.json
  apps/upskii/messages/vi.json
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/[setId]/take/before-taking-quiz-whole.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/columns.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/create/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/form.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/instruction-editor.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quiz-sets/row-actions.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/courses/[courseId]/modules/[moduleId]/quizzes/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/edit-set/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/paste-confirm-modal.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/quiz-add-card.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/quiz-create/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/quiz-edit/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/row-actions.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/[setId]/single-form.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/create/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quiz-sets/page.tsx
  apps/upskii/src/app/[locale]/(dashboard)/[wsId]/quizzes/form.tsx
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quiz-sets/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quizzes/route.ts
  apps/upskii/src/app/api/v1/workspaces/[wsId]/quizzes/single/route.ts
  apps/upskii/src/components/quiz/client-ai.tsx
  apps/upskii/src/components/quiz/client-quizzes.tsx
  apps/upskii/src/components/quiz/multi-quizzes-form.tsx
  apps/upskii/src/components/quiz/quiz-set-form.tsx
  apps/web/src/app/api/v1/workspaces/[wsId]/quizzes/route.ts
  packages/types/src/supabase.ts
  packages/ui/src/components/ui/custom/feature-summary.tsx
Labels: upskii

#3167 Improve UI/UX of tasks board
  apps/db/supabase/migrations/20250622000000_add_board_tags.sql
  apps/db/supabase/migrations/20250623130150_improve_board_tags_performance_and_atomicity.sql
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/[boardId]/_components/list-view.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/[boardId]/kanban.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/components/GanttChart.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/components/GanttControls.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/components/GanttHeader.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/components/GanttTimeline.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/components/StatusDistribution.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/components/TaskCreationAnalytics.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/components/TaskDetailCard.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/components/TaskGroup.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/components/TaskWorkflowAnalytics.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/enhanced-boards-view.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/form.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/hooks/useTaskAnalytics.ts
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/boards/utils/taskHelpers.ts
  apps/web/src/app/[locale]/(marketing)/contributors/components/contributors-client.tsx
  apps/web/src/components/ui/charts.tsx
Labels: calendar

#3139 Add task support for calendar
  apps/db/supabase/migrations/20250624145741_add_calendar_tasks_table.sql
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/client.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/add-event-button.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/add-event-dialog.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/tasks-sidebar-content.tsx
  apps/web/src/app/api/v1/workspaces/[wsId]/tasks/route.ts
  packages/types/src/supabase.ts
Labels: calendar

#3194 Add GitHub workflow to check database migrations
  .github/workflows/check-migrations.yml
  bun.lock
Labels: enhancement
