Repository tutur3u/platform, pull requests merged in 2025-08, with the labels that each got.

#3404 Fix hover and click behaviour in users filtering
  packages/ui/src/components/ui/legacy/tumeet/planId/plan-user-filter-accordion.tsx
Labels: meet-together

#3413 Upgrade zod to v4
  apps/calendar/package.json
  apps/nova/package.json
  apps/nova/src/app/[locale]/(dashboard)/(admin)/(challenge-management)/problems/problem-form.tsx
  apps/nova/src/app/[locale]/(dashboard)/challenges/challengeForm.tsx
  apps/nova/src/app/[locale]/(dashboard)/score-calculator/page.tsx
  apps/nova/src/app/api/v1/challenges/route.ts
  apps/nova/src/app/api/v1/criteria/route.ts
  apps/nova/src/app/api/v1/problems/route.ts
  apps/nova/src/app/api/v1/sessions/route.ts
  apps/nova/src/app/api/v1/submissions/route.ts
  apps/nova/src/app/api/v1/test-cases/route.ts
  apps/playground/src/app/api/ai/tool-calling/tools.ts
  apps/rewise/package.json
  apps/tumeet/package.json
  apps/web/package.json
  apps/web/src/app/[locale]/(dashboard)/[wsId]/cron/jobs/form.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/inventory/products/[productId]/form.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/inventory/promotions/form.tsx
  apps/web/src/app/api/v1/workspaces/[wsId]/datasets/[datasetId]/columns/sync/route.ts
  apps/web/src/app/api/v1/workspaces/[wsId]/datasets/[datasetId]/rows/sync/route.ts
  bun.lock
  packages/ai/package.json
  packages/auth/src/middleware/index.ts
  packages/games/package.json
  packages/supabase/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/ui/src/components/ui/custom/education/modules/resources/file-upload-form.tsx
  packages/utils/package.json
Labels: platform

#3414 Revise Tumeet UI
  packages/ui/src/components/ui/legacy/tumeet/planId/download-as-png.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/logged-in-as-button.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/plan-details-client.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/sidebar-display.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/sticky-bottom-indicator.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/unified-availability.tsx
  packages/ui/src/hooks/time-blocking-provider.tsx
Labels: platform, meet-together

#3418 Show who voted for each option
  apps/web/src/app/api/meet-together/plans/[planId]/poll/option/route.ts
  packages/types/src/primitives/MeetTogetherPlan.ts
  packages/types/src/primitives/Poll.ts
  packages/ui/src/components/ui/legacy/tumeet/multiple-choice-vote.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/page.tsx
  packages/ui/src/hooks/time-blocking-provider.tsx
Labels: platform, meet-together

#3417 Deduplicate Timeblocks API route
  apps/tumeet/src/app/api/meet-together/plans/[planId]/timeblocks/route.ts
  apps/web/src/app/api/meet-together/plans/[planId]/timeblocks/route.ts
  packages/ui/src/hooks/time-blocking-provider.tsx
Labels: platform, meet-together

#3412 Feat/outsource code
  apps/db/supabase/migrations/20250802071119_create_new_view_for_checking_sending_req.sql
  apps/db/supabase/migrations/20250802120000_add_guest_group_view.sql
  apps/db/supabase/migrations/20250802121000_adding_guest_table_view.sql
  apps/db/supabase/migrations/20250802121500_fix_query_logic.sql
  apps/web/messages/en.json
  apps/web/messages/vi.json
  apps/web/src/app/[locale]/(dashboard)/[wsId]/education/courses/[courseId]/layout.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/mail/guest-email-template.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/users/database/columns.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/users/groups/[groupId]/page.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/users/groups/[groupId]/posts/[postId]/card.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/users/groups/[groupId]/posts/[postId]/page.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/users/groups/columns.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/users/groups/form.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/users/groups/page.tsx
  apps/web/src/hooks/useEmail.tsx
  packages/transactional/emails/guest-template.tsx
  packages/types/src/primitives/UserGroup.ts
  packages/types/src/primitives/WorkspaceUser.ts
  packages/types/src/supabase.ts
  packages/ui/src/components/ui/custom/report-preview.tsx
  packages/utils/src/workspace-helper.ts
Labels: platform

#3423 User Priviliges Clash
  packages/ui/src/components/ui/legacy/tumeet/planId/agenda-details.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/logged-in-as-button.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/page.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/plan-details-client.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/plan-login.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/sidebar-display.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/utility-buttons.tsx
  packages/ui/src/hooks/time-blocking-provider.tsx
Labels: platform, meet-together

#3424 Add plan confirmation
  apps/db/supabase/migrations/20250804140352_add_new_meet_together_columns.sql
  apps/db/supabase/migrations/20250804154656_edit_meet_together_plan.sql
  apps/db/supabase/migrations/20250804163734_remove_redundant_column.sql
  apps/web/messages/en.json
  apps/web/messages/vi.json
  apps/web/src/app/api/meet-together/plans/[planId]/edit-lock/route.ts
  apps/web/src/app/api/meet-together/plans/[planId]/poll/option/[optionId]/route.ts
  apps/web/src/app/api/meet-together/plans/[planId]/poll/option/route.ts
  apps/web/src/app/api/meet-together/plans/[planId]/poll/route.ts
  apps/web/src/app/api/meet-together/plans/[planId]/poll/vote/route.ts
  apps/web/src/app/api/meet-together/plans/[planId]/poll/where-poll/route.ts
  apps/web/src/app/api/meet-together/plans/[planId]/route.ts
  apps/web/src/app/api/meet-together/plans/[planId]/timeblocks/[timeblockId]/route.ts
  apps/web/src/app/api/meet-together/plans/[planId]/timeblocks/route.ts
  apps/web/src/app/api/meet-together/plans/route.ts
  packages/types/src/primitives/MeetTogetherPlan.ts
  packages/types/src/supabase.ts
  packages/ui/src/components/ui/legacy/polls/poll-display.tsx
  packages/ui/src/components/ui/legacy/tumeet/create-plan-dialog.tsx
  packages/ui/src/components/ui/legacy/tumeet/form.tsx
  packages/ui/src/components/ui/legacy/tumeet/page.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/unified-availability.tsx
  packages/ui/src/components/ui/legacy/tumeet/planId/utility-buttons.tsx
Labels: platform, meet-together

#3448 Implement server-side task fetching for calendar's task sidebar
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/actions-dropdown.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/priority-dropdown.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/priority-view.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/task-fetcher.ts
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/tasks-sidebar-content.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/tasks-sidebar-server.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/tasks-sidebar.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/page.tsx
  apps/web/src/app/api/[wsId]/task/create/route.ts
Labels: calendar

#3407 Add AI-powered meetings
  apps/calendar/src/app/[locale]/layout.tsx
  apps/db/supabase/migrations/20250811074420_add_meeting_recordings.sql
  apps/db/supabase/migrations/20250811082156_add_meeting_permissions.sql
  apps/nova/src/app/[locale]/layout.tsx
  apps/rewise/src/app/[locale]/layout.tsx
  apps/tumeet/messages/en.json
  apps/tumeet/src/app/[locale]/layout.tsx
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tumeet/meetings/[meetingId]/audio-recorder.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tumeet/meetings/[meetingId]/components/AudioPlayer.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tumeet/meetings/[meetingId]/components/DeleteConfirmation.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tumeet/meetings/[meetingId]/components/TranscriptViewer.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tumeet/meetings/[meetingId]/meeting-actions.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tumeet/meetings/[meetingId]/page.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tumeet/meetings/[meetingId]/recording-session-actions.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tumeet/meetings/[meetingId]/recording-sessions-overview.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tumeet/meetings/meetings-content.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tumeet/meetings/page.tsx
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/app/api/ai/meetings/summary/route.ts
  apps/web/src/app/api/ai/meetings/transcription/route.ts
  apps/web/src/app/api/v1/workspaces/[wsId]/meetings/[meetingId]/record/route.ts
  apps/web/src/app/api/v1/workspaces/[wsId]/meetings/[meetingId]/recordings/[sessionId]/chunks/route.ts
  apps/web/src/app/api/v1/workspaces/[wsId]/meetings/[meetingId]/recordings/[sessionId]/play/route.ts
  apps/web/src/app/api/v1/workspaces/[wsId]/meetings/[meetingId]/recordings/[sessionId]/route.ts
  apps/web/src/app/api/v1/workspaces/[wsId]/meetings/[meetingId]/recordings/[sessionId]/upload/route.ts
  apps/web/src/app/api/v1/workspaces/[wsId]/meetings/[meetingId]/recordings/route.ts
  apps/web/src/app/api/v1/workspaces/[wsId]/meetings/[meetingId]/route.ts
  apps/web/src/app/api/v1/workspaces/[wsId]/meetings/route.ts
  apps/web/src/hooks/useRecordingLoader.ts
  apps/web/src/hooks/useTranscription.ts
  packages/ai/src/meetings/summary/route.ts
  packages/ai/src/meetings/transcription/route.ts
  packages/types/src/db.ts
  packages/types/src/supabase.ts
Labels: enhancement, platform, meet-together, upskii, calendar

#3459 Initial refactor for calendar system
  apps/calendar/src/app/[locale]/(root)/client-layout-wrapper.tsx
  apps/calendar/src/app/[locale]/(root)/layout.tsx
  apps/calendar/src/app/[locale]/(root)/page.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/client.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/add-event-dialog.tsx
  packages/ui/src/hooks/use-calendar-sync.tsx
Labels: enhancement, calendar

#3460 Add edit priority functionality to task in the calendar sidebar
  apps/db/supabase/migrations/20250811162209_change_task_rls.sql
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/priority-view.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/calendar/components/tasks-sidebar-content.tsx
  apps/web/src/app/api/[wsId]/calendar/auto-schedule/route.ts
  apps/web/src/app/api/[wsId]/task/[taskId]/edit/route.ts
  apps/web/src/app/api/[wsId]/task/create/route.ts
  packages/ui/src/components/ui/legacy/calendar/calendar-settings-dialog.tsx
  packages/ui/src/components/ui/legacy/calendar/settings/task-settings.tsx
Labels: enhancement, calendar

#3502 style (TimeTracker): Update time-tracker-content.tsx for add quick ac…
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/time-tracker-content.tsx
Labels: enhancement

#3515 Remove ESLint & Prettier tools to completely use Biome
  .github/workflows/prettier-check.yaml
  .prettierignore
  .prettierrc
  apps/calendar/eslint.config.mjs
  apps/calendar/package.json
  apps/external/eslint.config.mjs
  apps/external/package.json
  apps/finance/eslint.config.mjs
  apps/finance/package.json
  apps/nova/eslint.config.mjs
  apps/nova/package.json
  apps/playground/eslint.config.mjs
  apps/playground/package.json
  apps/rewise/eslint.config.mjs
  apps/rewise/package.json
  apps/shortener/eslint.config.mjs
  apps/shortener/package.json
  apps/tudo/eslint.config.mjs
  apps/tudo/package.json
  apps/tumeet/eslint.config.mjs
  apps/tumeet/package.json
  apps/web/eslint.config.mjs
  apps/web/package.json
  package.json
  packages/ai/eslint.config.mjs
  packages/ai/package.json
  packages/apis/eslint.config.mjs
  packages/apis/package.json
  packages/auth/eslint.config.mjs
  packages/auth/package.json
  packages/dev/eslint.config.mjs
  packages/dev/package.json
  packages/eslint-config/.checksum
  packages/eslint-config/README.md
  packages/eslint-config/base.js
  packages/eslint-config/jsr.json
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  packages/games/eslint.config.mjs
  packages/games/package.json
  packages/google/eslint.config.mjs
  packages/google/package.json
  packages/payment/eslint.config.mjs
  packages/payment/package.json
  packages/supabase/eslint.config.mjs
  packages/supabase/package.json
  packages/transactional/eslint.config.mjs
  packages/transactional/package.json
  packages/trigger/eslint.config.mjs
  packages/trigger/package.json
  packages/types/eslint.config.mjs
  packages/types/package.json
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/utils/eslint.config.mjs
  packages/utils/package.json
  turbo.json
Labels: platform

#3536 Add self-assign if task is created in personal workspace
  packages/ui/src/components/ui/tuDo/boards/boardId/task-form.tsx
Labels: platform

#3540 (Calendar Active Sync) Bug fix: remove priority in upsert_calendar_function
  apps/db/supabase/migrations/20250826124507_update_upsert_calendar_events_after_refactoring.sql
Labels: enhancement, calendar

#3546 Limit old tasks editing
  apps/db/supabase/migrations/20250828120000_add_time_editing_restrictions.sql
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/components/session-history.tsx
  apps/web/src/app/api/v1/workspaces/[wsId]/time-tracking/sessions/[sessionId]/route.ts
Labels: enhancement

#3552 TimeTracker UI Enhancements
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/components/timer-controls.tsx
Labels: enhancement

#3547 Fixes 'Tasks dissapear after a while on TimeTracker view'
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/components/time-tracker-content.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/components/time-tracker-header.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/components/timer-controls.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/layout.tsx
Labels: enhancement

#3556 Add time tracker management page
  apps/web/messages/en.json
  apps/web/messages/vi.json
  apps/web/src/app/[locale]/(dashboard)/[wsId]/navigation.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/PERFORMANCE_OPTIMIZATION.md
  apps/web/src/app/[locale]/(dashboard)/[wsId]/tasks/README.md
  apps/web/src/app/[locale]/(dashboard)/[wsId]/test/page.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/management/client.tsx
  apps/web/src/app/[locale]/(dashboard)/[wsId]/time-tracker/management/page.tsx
Labels: enhancement, platform
